html{
    height: 100%;
}
header{
    height:10vh;
    font-size: 20px;
}
body{
    margin: 0;
}
.buttonWrapper{
    padding: 25px 0px 25px  0px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.wrapper{
    display: flex;
    justify-content: center;
    
}
.formWrapper{
    background: rgba(160, 219, 253, 0.918);
    height: 80vh;
    width: inherit;
    
}

.addNewBook{
    border:none;
    border-radius:5px;
    background-color: #1c87c9;
    color:white;
    padding:14px 20px;
    outline: none;
}
.addNewBook:hover{
    opacity:0.8;
}

.formWrapper{
    position:relative;
    text-align: center;
    width: 100%;
}
.popupForm{
    display:none;
    position: fixed;
    left:70%;
    top:25%;
    transform: translate(-50%, 5%);
    border:3px solid black;
    z-index: 9 ;
}

.form{
    max-width: 300px;
    padding: 10px;
}
input{
    margin-top: 7px;
    border-radius: 5px;
    padding:10px 14px;
}
.upload{
    margin-bottom:5px;
}
label{
    font-size: 17px;
    font-weight: bold;
}

th{
    
   padding-top: 5px;
   padding-left: 45px;
   font-size: 20px;
}


td{
    padding-left: 45px;

}
a{
   text-decoration: none;
   color: inherit;
   padding: 5px 7px 5px 7px;
   background-color: rgb(253, 37, 37);
   border-radius: 5px;
   
}
a:hover{
opacity: 0.8;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }