html{
    height: 100%;
}
header{
    width: 100%;
    height:10vh;
    font-size: 20px;
}
body{
    margin: 0;
}
.buttonWrapper{
    padding: 25px 0px 25px  0px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.wrapper{
  display: flex;
  justify-content: center;
  
}
.formWrapper{
  
    background: rgba(160, 219, 253, 0.918);
    height: 80vh;
    width: inherit;
    text-align: center;
    width: 100%;
    
}

.addNewBook{
    border:none;
    border-radius:5px;
    background-color: #1c87c9;
    color:white;
    padding:14px 20px;
    outline: none;
}
.addNewBook:hover{
    opacity:0.8;
}


.popupForm{
    display:none;
    position: fixed;
    left:80%;
    top:25%;
    transform: translate(-50%, 5%);
    border:3px solid black;
    z-index: 9 ;
}

.form{
    max-width: 300px;
    padding: 10px;
}
input{
    margin-top: 7px;
    border-radius: 5px;
    padding:10px 14px;
}
.upload{
    margin-bottom:5px;
}
label{
    font-size: 17px;
    font-weight: bold;
}

a{
   text-decoration: none;
   color: inherit;
   padding: 4px 6px 4px 6px;
   background-color: rgb(253, 37, 37);
   border-radius: 5px;
   border:1px solid black;
   
}
a:hover{
opacity: 0.8;
}

.doneReading{
   border: 1px solid black;
   background-color:aquamarine;
   border-radius:5px;
   font-size: 17px;
}

.doneReading:hover{
  transform:scale(1.1);
  background-color: rgb(105, 246, 199);
}
.notDone{
  border: 1px solid black;
   background-color:rgb(255, 127, 244);
   border-radius:5px;
   font-size: 17px;
}
.notDone:hover{
  transform:scale(1.1);
}

#readBtn{
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top:5px;
  grid-column:3/4;
}
tr{

  width: 100%;
  
}
table{
  
  width:100%;
  padding:0%;
  margin: 0%;
  
}
.btnHolder{
  width: 83px;
}
thead{
  margin-top: 0px;
  background-color: rgb(255, 255, 255);
}
